<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <h4>Node MySQL</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile"><img src="{{user.img}}" class="avatar-head" alt="user profile picture"/></a></li>
    </ul>
    
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="avatar-ctn">
            <img src="{{user.img}}" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{user.email}}</h5>
                <form action="/auth/update-img" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="image">Choose image</label>
                    <input type="file" class="form-control" name="image" id="image" accept='image/*'>
                  </div>                 
                  <button type="submit" class="btn btn-primary">Update Image</button>
                </form>
                    {{#if message2 }}
                      <h4 class="alert alert-danger mt-4">{{message2}}</h4>
                    {{/if}}
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="card text-center">
          <div class="card-header">
            Profile Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Hey {{user.name}} welcome back</h5>
                <form action="/auth/update-password" method="POST">
                  <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" name="currentPassword" id="currentPassword" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control">
                  </div>                   
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                    {{#if message }}
                      <h4 class="alert alert-danger mt-4">{{message}}</h4>
                    {{/if}}
          </div>
          <div class="card-footer text-muted">
            Node MySQL - Project
          </div>
        </div>
      </div>
    </div>
    

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>